{{ range .Profiles }}

<!-- Main -->
<main class="container">

    <!-- Form elements-->
    <section id="form">
    <form action="/contact/{{ .PubKey }}/edit" method="post">

        <h2>Contact Values</h2>

        <!-- Email -->
        <label for="email">Email</label>
        <input name="email" id="email" type="text"
            hx-get="/contact/{{ .PubKey }}/email"
            hx-target="next .error"
            hx-trigger="change, keyup delay:200ms changed" (1)
            placeholder="Email" value="{{ .Email }}">
        <small class="error text-danger"></small>

        <!-- Username -->
        <label for="name">Username</label>
        <input name="name" id="name" type="text" placeholder="Name" value="{{ .Name }}">

        <div class="grid">

            <button type="submit">Submit</button>

            <button class="secondary"
                    hx-delete="/contact/{{ .PubKey }}"
                    hx-push-url="true"
                    hx-confirm="Are you sure you want to delete this contact?"
                    hx-target="body">
                Delete
            </button>
        </div>

    </form>
    </section>
    <!-- ./ Form elements-->

    <p>
        <a href="/contact/">Back</a>
    </p>

</main>

{{ end }}
