{{ block "content" . }}

<!-- Form elements-->
<section id="form">
    <form action="/contact" method="get" class="tool-bar">

        <h2>Form elements</h2>

        <input id="search" type="search" name="q" value="{{ .SearchQuery }}"
            hx-get="/contact"
            hx-trigger="search, keyup delay:200ms changed"
            hx-target="tbody"
            hx-push-url="true"
            hx-select="tbody tr"/>
        <input type="submit" value="Search"/>

    </form>
</section>
<!-- Form elements-->

<!-- Tables -->
<section id="tables">
<h2>Tables</h2>
<figure>
  <table role="grid">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {{ template "contacts" . }}
    </tbody>
  </table>
</figure>
</section>
<!-- ./ Tables -->

<button hx-get="/contact/new"
        hx-target="body">
    Add Profile
</button>

{{ end }}
