{{ block "content" . }}

<div id="main">

  <form>
      <label for="search">Search Contacts:</label>
      <input id="search" name="q" type="search" placeholder="Search Contacts">
      <button hx-post="/contact" hx-target="#main" hx-include="#search">
        Search The Contacts
      </button>
  </form>

</div>

<table>
    <thead>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{ template "contacts" . }}
    </tbody>
</table>

<p>
    <a href="/contact/new">Add Contact</a>
</p>

{{ end }}
