{{ range .Profiles }}

<!-- Main -->
<main class="container">

    <!-- Form elements-->
    <section id="form">
    <form action="/contact/new" method="post">

        <h2>Profile Values</h2>

        <!-- Username -->
        <label for="name">Username</label>
        <input name="name" id="name" type="text" placeholder="Name" value="{{ .Name }}">

        <!-- Email -->
        <label for="email">Email</label>
        <input name="email" id="email" type="text"
            hx-get="/contact/{{ .PubKey }}/email"
            hx-target="next .error"
            hx-trigger="change, keyup delay:200ms changed"
            placeholder="Email" value="{{ .Email }}">
        <small class="error text-danger"></small>


        <button type="submit">Submit</button>

    </form>
    </section>
    <!-- ./ Form elements-->

    <p>
        <a href="/contact/">Back</a>
    </p>

</main>

{{ end }}
