{{ block "contacts" . }}

{{ range .Contacts }}
<tr>
    <td>{{ .First }}</td>
    <td>{{ .Last }}</td>
    <td>{{ .Phone }}</td>
    <td>{{ .Email }}</td>
    <td>
        <div class="grid">
          <p>
            <a href="/contact/{{ .Id }}/edit">Edit</a>
          <p>
            <a href="/contact/{{ .Id }}">View</a>
          </p>
        </div>
    </td>
</tr>
{{ end }}

{{ if eq (len .Contacts) 10 }}
<tr>
    <td colspan="5" style="text-align: center">
        <span hx-target="closest tr"
                hx-swap="outerHTML"
                hx-select="tbody > tr"
                hx-get="/contact?page={{ add .Page 1 }}">
          Load More
        </span>
    </td>
</tr>
{{ end }}

{{ end }}
